/* ########################################### */

/*            GLOBAL                       */

/* ########################################### */

.page-wrapper {
  min-height: calc(100vh - 108px - 127px);
  z-index: 10;
}

header {
  position: unset!important;
  background-color: #fff;
}

footer i {
  font-size: 2rem;
}

/* background image */

body img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  object-fit: cover;
  pointer-events: none;
}

body img#mountains_front {
  z-index: -1;
}

body img#mountains_behind {
  z-index: -2;
}

/* ########################################### */

/*            posts.php                       */

/* ########################################### */

/* posts table's body  */

.table-row {
  background: #fff;
  display: flex;
  margin: 2rem;
  border-radius: 50px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .6);
}

.table-row .status, .table-row .subjects, .table-row .replies, .table-row .last-reply {
  padding: 20px;
  margin: 2px;
  /* background-color: #131415; */
}

.table-row .subjects {
  flex: 70%;
}

.table-row .replies {
  flex: 10%;
}

.table-row .last-reply {
  flex: 15%;
}

/* Pagination*/

ul.page-nav {
  position: relative;
  background-color: #fff;
  display: flex;
  padding: 10px 20px;
  margin: 0;
}

ul.page-nav li {
  list-style: none;
  line-height: 50px;
  margin: 0 5px;
}

ul.page-nav li.pageNumber {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

ul.page-nav li a {
  display: block;
  text-decoration: none;
  color: #2b1055;
  font-weight: 600;
  border-radius: 50%;
}

ul.page-nav li.pageNumber:hover a, ul.page-nav li.pageNumber.active a {
  background: #2b1055;
  color: #fff;
}

.note {
  /* background-color: #111314; */
  padding: 20px;
  display: block;
}

.note span {
  font-size: 20px;
  margin-block: 5px;
}

/* ########################################### */

/*            detail.php                      */

/* ########################################### */

.head {
  display: flex;
  /* background-color: #2C2C2C; */
  padding: 5px;
  font-weight: bold;
  font-size: 15px;
}

.authors {
  flex: 20%;
}

.content {
  flex: 80%;
}

.body {
  display: flex;
  /* background-color: #131415; */
  padding: 10px;
  margin-top: 5px;
}

.body .authors .username {
  font-size: 20px;
}

.body .authors img {
  max-width: 50px;
  max-height: 80px;
}

.body .content .comment button {
  border: none;
  padding: 10px;
  font-weight: bolder;
  box-shadow: 4px 6px #fff;
  cursor: pointer;
  float: right;
}

/* comment section */

.comment-area {
  margin-bottom: 50px;
}

.comment-area textarea {
  width: 100%;
  min-height: 100px;
  padding: 10px;
  margin-block: 10px;
}

.comment-area input {
  float: right;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.comment-area input:hover {
  border: solid 1px #000000;
}
