/* ########################################### */

/*            GLOBAL                       */

/* ########################################### */

.page-wrapper {
  min-height: calc(100vh - 108px - 127px);
}

header {
  position: unset!important;
}

footer i {
  font-size: 2rem;
}

/* ########################################### */

/*            posts.php                       */

/* ########################################### */

.table-head {
  display: flex;
}

.table-head div {
  padding: 5px;
  margin: 2px;
  /* background-color: #130c0c; */
  font-weight: bold;
}

.table-head .status {
  flex: 5%;
}

.table-head .subjects {
  flex: 70%;
}

.table-head .replies {
  flex: 10%;
}

.table-head .last-reply {
  flex: 15%;
}

/* posts table's body  */

.table-row {
  display: flex;
}

.table-row .status, .table-row .subjects, .table-row .replies, .table-row .last-reply {
  padding: 5px;
  margin: 2px;
  /* background-color: #131415; */
}

.table-row .status {
  flex: 5%;
  font-size: 30px;
  text-align: center;
}

.table-row .subjects {
  flex: 70%;
}

.table-row .replies {
  flex: 10%;
}

.table-row .last-reply {
  flex: 15%;
}

/* navigation path*/

.navigate {
  margin-block: 20px;
  font-weight: lighter;
  font-size: 24px;
}

.navigate a {
  color: #fff;
}

.navigate a:hover {
  color: #FF0042;
  font-weight: bolder;
}

/* Pagination*/

.pagination {
  padding: 20px;
  font-size: 4rem;
}

.pagination li a {
  display: block;
  text-decoration: none;
  font-weight: 600;
  border-radius: 50%;
}

.note {
  /* background-color: #111314; */
  padding: 20px;
  display: block;
}

.note span {
  font-size: 20px;
  margin-block: 5px;
}

/* ########################################### */

/*            detail.php                      */

/* ########################################### */

.head {
  display: flex;
  /* background-color: #2C2C2C; */
  padding: 5px;
  font-weight: bold;
  font-size: 15px;
}

.authors {
  flex: 20%;
}

.content {
  flex: 80%;
}

.body {
  display: flex;
  /* background-color: #131415; */
  padding: 10px;
  margin-top: 5px;
}

.body .authors .username {
  font-size: 20px;
}

.body .authors img {
  max-width: 50px;
  max-height: 80px;
}

.body .content .comment button {
  border: none;
  padding: 10px;
  font-weight: bolder;
  box-shadow: 4px 6px #fff;
  cursor: pointer;
  float: right;
}

/* comment section */

.comment-area {
  margin-bottom: 50px;
}

.comment-area textarea {
  width: 100%;
  min-height: 100px;
  padding: 10px;
  margin-block: 10px;
}

.comment-area input {
  float: right;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.comment-area input:hover {
  border: solid 1px #000000;
}