@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    color: #0b694a;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 15px;
    line-height: 15vh;
    text-shadow: 10px 10px 3px #14dd9a, 0px 4px 0 #24e2a3, 0px 10px 3px rgb(0 0 0 / 10%);
}

.comedy {
    color: #2b1055;
}

h2 {
    font-weight: 500 !important;
}

h3 {
    text-align: center;
    font-size: 1.5rem;
}

input {
    width: 40%;
    padding: 15px 0;
    text-align: center;
    border-radius: 25px;
    outline: none;
    border: none;
    background-color: #dff9fb;
    color: #000;
    margin: 2rem 0;
    font-size: 1.5rem !important;
}

button {
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    border: #2f3542;
    text-decoration: none;
    color: #eb4d4b;
}

button.btn {
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 0.12rem;
    word-spacing: 0.19rem;
    padding: 0.8rem 2.5rem;
    background: #effffd;
    color: #2f3542;
    text-transform: uppercase;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.65, -0.25, 0.25, 1.95);
}

button.btn:hover {
    letter-spacing: 0.2rem;
    word-spacing: 0.3rem;
    background: #2b1055;
    color: #14dd9a;
    box-shadow: 0 0px 0px 2px rgb(255 255 255), 0 0px 0px 2px rgb(255 255 255);
}

.bodybg {
    background: #7fffd4;
}

.l-header {
    height: 170px;
}

#main-box {
    height: 80vh;
}

.stats-box {
    height: fit-content;
}

.stats-box h2 {
    letter-spacing: 0.2rem;
}

.stats-box #score-text {
    margin-right: 15px;
}

.stats-box .score {
    margin-right: 0px;
    display: flex;
    margin-left: auto;
}

.stats-box button#restart {
    margin-right: 0px;
    margin-left: auto;
    padding: 8px !important;
}

.white-transparent {
    background: #ffffffb8;
}

.hidden {
    display: none;
}

.game-box {
    width: 75%;
    height: 500px;
    margin-top: 50px;
    padding: 20px 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #14dd9a;
    flex-direction: column;
    box-shadow: 15px 15px 0px 0px #7a38e0;
}

h1#title {
    font-weight: 400;
    font-size: 3.5rem;
    letter-spacing: 32px;
    padding: 13% 0% 5% 0%;
    margin-bottom: 0rem;
}

.mode-btn {
    border-radius: 0px !important;
}

.msg-box {
    text-align: center;
    font-size: 3.5rem;
}

.score h2 {
    margin-bottom: 0px;
}

.score {
    font-size: 2.5rem !important;
    font-weight: 800 !important;
}

#spaghetti {
    font-size: 4rem;
    margin: 0px;
    padding: 0px 30px;
}

.invis {
    background: rgba(0, 0, 0, 0.144) !important;
    box-shadow: none;
    color: white;
}


/* ====================================== BUNCH OF STUFFS ================================ */

.main-box {
    background: #2b1055;
    box-shadow: 0px 20px 0 5px blueviolet;
}

.autumn {
    background: url(../images/AutumnNights_WhiteRaven.png) !important;
    background-size: 126% !important;
    background-position: center!important;
    background-attachment: fixed !important;
}

.axass {
    background: url(../images/Axolotta_Ass.jpg);
    background-size: contain;
    background-position: center;
}

.rainbow {
    text-align: center;
    text-decoration: underline;
    font-size: 32px;
    font-family: monospace;
    letter-spacing: 5px;
}

.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff, #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
    text-shadow: 4px 4px 0px #0000002e, 10px 10px 3px rgb(0 0 0 / 11%);
}

@keyframes rainbow_animation {
    0%,
    100% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
}


/* ====================================================================== */

@media screen and (max-aspect-ratio: 11/9) {
    .gm.d-flex.flex-col {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
    }
    .stats-box.d-flex {
        display: grid !important;
        grid-template-columns: 1fr;
        place-items: center;
        margin-top: 20px;
    }
    .stats-box .score {
        margin-right: auto;
        margin-left: auto;
    }
    h1#title {
        font-size: 3rem;
        letter-spacing: 20px;
        padding-top: 190px;
    }
}

@media screen and (max-aspect-ratio: 9/13) {
    h1#title {
        font-size: 3rem;
        letter-spacing: 20px;
    }
    .l-header {
        height: 130px;
    }
    .stats-box {
        margin-top: 140px;
    }
    .game-box {
        height: 700px;
    }
    #main-box {
        height: 95vh;
    }
    .gm.d-flex.flex-col {
        grid-template-columns: 1fr;
    }
    .game-box {
        width: 100%;
    }
    h1#title {
        font-weight: 400;
        font-size: 3rem;
        letter-spacing: 10px;
    }
}

@media screen and (max-aspect-ratio: 14/9) {
    .autumn {
        background: url(../images/AutumnNights_WhiteRaven.png) !important;
        background-size: auto;
        background-position: center!important;
        background-attachment: fixed !important;
    }
}